.heading-hero {
  font-size: 72px;
  line-height: 80px;
}

.heading-h1 {
  font-size: 64px;
  line-height: 1;
}

.heading-h2 {
  font-size: 48px;
  line-height: 56px;
}

.heading-h3 {
  font-size: 40px;
  line-height: 48px;
}

.heading-h4 {
  font-size: 32px;
  line-height: 40px;
}

.body-1 {
  font-size: 24px;
  line-height: 32px;
}

.body-1-bold {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.body-2 {
  font-size: 20px;
  line-height: 32px;
}

.body-2-bold {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}

.body-3 {
  font-size: 16px;
  line-height: 24px;
}

.body-3-medium {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.caption {
  font-size: 14px;
  line-height: 24px;
}

.caption-bold {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.caption-2 {
  font-size: 12px;
  line-height: 20px;
}

.caption-2-bold {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

.hairline {
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
}

.hairline-small {
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
}