$white: #ffffff;
  
$primary-green: #4AC63F;
$primary-green-dark: #37942f;
$primary-yellow: #F6C92D;
$primary-pink: #FD7FE9;
$primary-blue: #62B3FD;

$secondary-green: #D6F4BF;
$secondary-yellow: #FFEBDF;
$secondary-pink: #FFD5FB;
$secondary-blue: #CDEDFF;

$neutral-8: #FCFCFD;
$neutral-7: #F4F5F6;
$neutral-6: #E6E8EC;
$neutral-5: #B1B5C3;
$neutral-4: #777E90;
$neutral-3: #353945;
$neutral-2: #23262F;
$neutral-1: #141416;